<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <h1>Reset Password</h1>
    <ion-input id="newPassword" placeholder="New Password" fill="outline" type="password" [(ngModel)]="newPassword">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input> <br>
    <ion-input id="confirmPassword" placeholder="Konfirmasi Password" fill="outline" type="password" [(ngModel)]="confirmPassword">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input> <br>
    <ion-input id="token" placeholder="Masukkan Kode Token" fill="outline" type="text" [(ngModel)]="token"></ion-input> <br>
    <ion-button expand="block" class="text" (click)="resetPassword()">Submit</ion-button>
  </div>
</ion-content>
