<ion-content [fullscreen]="true">
  <div class="forgot-password-header">
    <div class="text">
      <h2>Lupa password</h2>
      <p>Masukkan kata sandi baru dan masukkan kode token yang dikirimkan ke email Anda</p>
    </div>
  </div>

  <div class="forgot-password-form">
    <div class="input-wrapper">
      <label>Password Baru</label>
      <ion-item lines="none">
        <ion-input id="newPassword" type="password" [(ngModel)]="newPassword">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </div>
    <div class="input-wrapper">
      <label>Konfirmasi Password</label>
      <ion-item lines="none">
        <ion-input id="confirmPassword" type="password" [(ngModel)]="confirmPassword">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </div>
    <div class="input-wrapper">
      <label>Masukkan Kode Token</label>
      <div class="token-input">
        <ion-input id="input1" type="text" maxlength="1" (ionInput)="validateInput($event, 'input2')"
          [(ngModel)]="tokenPart1" inputmode="numeric" pattern="[0-9]*"></ion-input>
        <ion-input id="input2" type="text" maxlength="1" (ionInput)="validateInput($event, 'input3')"
          [(ngModel)]="tokenPart2" inputmode="numeric" pattern="[0-9]*"></ion-input>
        <ion-input id="input3" type="text" maxlength="1" (ionInput)="validateInput($event, 'input4')"
          [(ngModel)]="tokenPart3" inputmode="numeric" pattern="[0-9]*"></ion-input>
        <ion-input id="input4" type="text" maxlength="1" (ionInput)="validateInput($event, 'input5')"
          [(ngModel)]="tokenPart4" inputmode="numeric" pattern="[0-9]*"></ion-input>
        <ion-input id="input5" type="text" maxlength="1" [(ngModel)]="tokenPart5" inputmode="numeric"
          pattern="[0-9]*"></ion-input>
      </div>
    </div>
    <ion-button expand="block" shape="round" class="submit-button" (click)="resetPassword()">Kirim</ion-button>
    <ion-loading #loading message="Loading..." [duration]="3000" spinner="circles"></ion-loading>
    <div class="forgot-password">
      <a [routerLink]="['/lupa-password']">kembali</a>
    </div>
  </div>
</ion-content>