<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <h1>Reset Password</h1>
    <ion-input id="password" placeholder="New Password" fill="outline" type="password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input> <br>
    <ion-input id="password" placeholder="Konfirmasi Password" fill="outline" type="password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input> <br>
    <ion-input id="Kode Token" placeholder="Masukkan Kode Token" fill="outline" type="password"></ion-input> <br>
    <ion-button expand="block" class="text" (click)="login()">Submit</ion-button>
  </div>
</ion-content>
