.otp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .otp-image {
    width: 25vh;
    margin-bottom: 20px;
    margin-top: 20vh;
  }
  
  ion-grid {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  ion-row {
    justify-content: center;
  }
  
  ion-col {
    flex: 0 0 auto;
    width: 60px; /* Width of the input box */
    margin: 0 2px; /* Reduce the margin to decrease spacing between boxes */
  }
  
  ion-input {
    text-align: center;
    font-size: 24px; /* Increase the font size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
    border-radius: 5px; /* Optional: Add border radius */
    padding: 15px; /* Padding */
    background-color: white; /* Background color */
    height: 60px; /* Height */
    color: black;
  }
  
  ion-button {
    width: 100%;
    height: 50px;
    --border-radius: 10px;
    color: white;
  }

  h2 {
    font-weight: bold;
  }