<ion-content [fullscreen]="true">
  <div class="otp-container">
    <img src="../../assets/icon/otp.png" alt="OTP Verification" class="otp-image" />
    <h2>OTP Verification</h2>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let otp of otpInputs; let i = index">
          <ion-input
            id="otp-input-{{i}}"
            type="number"
            maxlength="1"
            [value]="otpInputs[i]"
            (input)="onInput($event, i)"
            (keydown)="onKeyDown($event, i)"
            (paste)="handlePaste($event)"
            (keypress)="validateInput($event)">
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button id="open-loading" expand="block" (click)="verifyOTP()">VERIFY & PROCEED</ion-button>
    <ion-loading trigger="open-loading" message="Loading..." [duration]="1500" spinner="circles"></ion-loading>
  </div>
</ion-content>
