<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment [(ngModel)]="segment" value="peminjaman">
    <ion-segment-button value="peminjaman">
      <ion-label>Peminjaman</ion-label>
    </ion-segment-button>
    <ion-segment-button value="denda">
      <ion-label>Denda</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="segment === 'peminjaman'">
    <ion-list>
      <ion-item *ngFor="let item of riwayatPeminjaman">
        <ion-label>
          <h2>Judul: {{ item.book?.title }}</h2>
          <p>Resi: {{ item.resi_pjmn }}</p>
          <p>Tanggal peminjaman: {{ item.created_at }}</p>
          <p>Tanggal pengembalian: {{ item.return_date ? item.return_date : 'belum dikembalikan' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="segment === 'denda'">
    <ion-list>
      <ion-item *ngFor="let item of riwayatDenda">
        <ion-label>
          <h2>{{ item.namaPeminjam }}</h2>
          <p>Jumlah Denda: {{ item.jumlahDenda | currency }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
