.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    h1 {
        font-size: 5vh;
        font-weight: 500;
    }

    ion-input {
        --border-color: #2E3192;
        --border-radius: 20px;  
    }

    a {
        text-decoration: none;
    }

    p {
        text-decoration: none;
    }
}


ion-button {
    width: 100%;
    height: auto;
    color: white;
    --border-radius: 20px;
    height: 50px;
}

.custom-loading .loading-wrapper {
    background: rgba(255, 255, 255, 0.8) url('../../assets/icon/logo-03.png') no-repeat center center;
    background-size: 150px 150px;
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .custom-spinner {
    width: 100px;
    height: 100px;
    background: url('../../assets/icon/gif.gif') no-repeat center center;
    background-size: contain;
  }
  
  .custom-loading-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Add a background to overlay */
    z-index: 999; /* Make sure it overlays above other elements */
  }
  
  
  