<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <h1>Login</h1>
    <ion-input [(ngModel)]="email" placeholder="Email" fill="outline" type="email"></ion-input> <br>
    <ion-input [(ngModel)]="password" placeholder="Password" fill="outline" type="password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input> <br>
    <ion-button expand="block" (click)="login()">Login</ion-button>
    <a class="forgot-password" [routerLink]="['/lupa-password']">Lupa password</a>
    <p>Belum punya akun? <a [routerLink]="['/register']">Daftar</a></p>
  </div>

  <div *ngIf="isLoading" class="custom-loading-modal">
    <div class="custom-spinner"></div>
  </div>
</ion-content>
