<ion-content [fullscreen]="true">
  <div class="img">
    <ion-img src="../../assets/icon/logo.png"></ion-img>
  </div>
  <h1>Login</h1>
  <ion-card>
    <div class="box">
      <ion-input label="Email" label-placement="floating" fill="outline" type="Email"></ion-input> <br>
      <ion-input label="Password" label-placement="floating" fill="outline" type="Password" ></ion-input>
      <ion-button fill="clear" class="text">Login</ion-button>
      <p>Belum punya akun? <a href="#">Daftar disini</a></p>
    </div>
  </ion-card>
</ion-content>
