<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title style="margin-left: -8vh;">My Profile</ion-title>
  </ion-toolbar>
  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-avatar class="profile-pic">
          <img [src]="profileImageUrl || 'https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png'" alt="Profile Image">
        </ion-avatar>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <form (ngSubmit)="save()">
          <ion-item>
            <ion-label position="stacked">Tanggal Lahir</ion-label>
            <ion-input type="date" [(ngModel)]="tglLahir" name="tglLahir"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Alamat</ion-label>
            <ion-input type="text" [(ngModel)]="address" name="address"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">No.Hp</ion-label>
            <ion-input type="number" [(ngModel)]="phone" name="phone" pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}" placeholder="08xx-xxxx-xxxx"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Profile Picture</ion-label>
            <input type="file" (change)="onFileChange($event)">
          </ion-item>

          <ion-button expand="block" type="submit">Simpan</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
