<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title style="margin-left: -8vh;">Profil Saya</ion-title>
  </ion-toolbar>
  
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <div style="position: relative; display: inline-block;">
          <ion-avatar class="profile-pic" (click)="triggerFileUpload()">
            <img [src]="profileImageUrl || 'https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png'" alt="Profile Image">
          </ion-avatar>
          <div class="edit-icon" (click)="triggerFileUpload()">
            <ion-icon name="pencil"></ion-icon>
          </div>
        </div>             
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <form (ngSubmit)="save()">
          <ion-item>
            <ion-label position="stacked">Tanggal Lahir</ion-label>
            <ion-input type="date" [(ngModel)]="tglLahir" name="tglLahir" required (ngModelChange)="markAsChanged('tglLahir')"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Alamat</ion-label>
            <ion-input type="text" [(ngModel)]="address" name="address" required (ngModelChange)="markAsChanged('address')"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="address.trim().length < minAddressLength && address.trim().length > 0">
            Alamat harus memiliki minimal {{ minAddressLength }} karakter.
          </ion-text>

          <ion-item>
            <ion-label position="stacked">No.Hp</ion-label>
            <ion-input type="tel" [(ngModel)]="phone" name="phone" required (ngModelChange)="markAsChanged('phone')"></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" [disabled]="!isFormValid()">Simpan</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="isLoading" class="custom-loading-modal">
    <div class="custom-spinner"></div>
  </div>

  <input type="file" #fileInput (change)="onFileChange($event)" style="display: none;">
</ion-content>
