.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo {
    width: 100px; /* Sesuaikan dengan ukuran logo Anda */
  }
  
  .spinner-container {
    width: 50px; /* Sesuaikan dengan ukuran spinner Anda */
    height: 50px; /* Sesuaikan dengan ukuran spinner Anda */
    animation: spin 1.5s linear infinite;
  }
  
  .spinner {
    width: 100%; /* Sesuaikan dengan ukuran spinner Anda */
    height: 100%; /* Sesuaikan dengan ukuran spinner Anda */
    border: 2px solid transparent;
    border-top-color: #3900d4; /* Sesuaikan dengan warna spinner Anda */
    border-radius: 50%;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  