<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Go Back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="container slide-in-bottom">
    <img src="../../assets/icon/buku.png" alt="The Martian" class="book-image">
    <ion-card class="card-desk">
      <div class="book-title">The Martian</div>
      <div class="book-category">Science Fiction</div>
      <div class="book-description">
        The Martian is a 2011 science fiction novel written by Andy Weir. It was his debut novel under his own name, and
        originally self-published in 2011. Crown Publishing purchased the rights and re-released it in 2014. The story
        follows an American astronaut, Mark Watney, as he becomes stranded alone on Mars in the year 2035 and must
        improvise in order to survive. The Martian, a film adaptation ...
      </div>
    </ion-card>
  </div>
</ion-content>

<script src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic.js"></script>
