<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Go Back" defaultHref="/tabs/data-buku" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="--color: white;">{{ book?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="book; else errorTemplate" class="book-details animate__animated animate__fadeInUp">
    <ion-img [src]="book.cover_link" alt="Book Cover" class="book-cover"></ion-img>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ book.title }}</ion-card-title>
        <ion-card-subtitle>Author: {{ book.author }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-label><strong>Category:</strong></ion-label>
            <ion-note>{{ book.category?.name }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label><strong>Stok Buku:</strong></ion-label>
            <ion-note>{{ book.stock?.jmlh_tersedia }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label><strong>Rak:</strong></ion-label>
            <ion-note>{{ book.rack?.name }}</ion-note>
          </ion-item>
          <ion-item>
            <ion-label><strong>Publisher:</strong></ion-label>
            <ion-note>{{ book.publisher }}</ion-note>
          </ion-item>
        </ion-list>
        <ion-text>
          <p>{{ book.description }}</p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #errorTemplate>
    <div class="error-message animate__animated animate__shakeX">
      <p>{{ errorMessage }}</p>
    </div>
  </ng-template>
</ion-content>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>