.book-cover {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    border-radius: 8px;
}

.error-message {
    text-align: center;
    color: var(--ion-color-danger);
    margin-top: 20px;
}

ion-card-title,
ion-card-subtitle {
    text-align: center;
}

.animate__animated.animate__fadeInUp {
    --animate-duration: 0.5s;
}

.animate__animated.animate__shakeX {
    --animate-duration: 0.5s;
}

ion-note {
    font-size: 17px;
}