<ion-content [fullscreen]="true">
  <div class="welcome-container">
    <img src="../../assets/icon/logo-final.png" alt="Logo" class="logo-img" />
    <img src="../../assets/icon/home.png" alt="Welcome Illustration" class="welcome-img" />
    <h1>Selamat datang!</h1>
    <p>Temukan berbagai buku untuk semua usia dan minat. Jelajahi koleksi kami dan dapatkan bacaan yang tepat untuk Anda!</p>
    <ion-button expand="block" shape="round" class="register-button" (click)="navigate('/register')">Daftar</ion-button>
    <ion-button expand="block" shape="round" fill="outline" class="login-button" (click)="navigate('/login')">Masuk</ion-button>
  </div>
</ion-content>
