ion-content {
  --background: #f8f8f8;

  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    text-align: center;

    .logo-img {
      width: 50px; /* Adjust the width as needed */
      height: auto;
      margin-bottom: 20px;
    }

    .welcome-img {
      width: 100%;
      max-width: 300px;
      height: auto;
      margin-bottom: 20px;
    }

    h1 {
      color: #000;
      font-size: 2em;
      margin: 0;
    }

    p {
      color: #666;
      font-size: 1em;
      margin: 10px 0 20px 0;
    }

    .register-button {
      --background: linear-gradient(to right, #6366C5, #2E3192);
      color: white;
      height: 45px;
      width: 80%;
      margin-bottom: 10px;
    }

    .login-button {
      --background: transparent;
      --border-color: #6366C5;
      color: #6366C5;
      height: 45px;
      width: 80%;
    }
  }
}
