<ion-content class="ion-padding login-container">
  <div class="background">
    <img src="../../assets/icon/logo-03.png" alt="Background Image">
  </div>
  <div class="logo-container">
    <h1>Let's get started</h1> <br> <br> <br>
    <img src="../../assets/icon/libra.png" alt="Libra Nation Logo">
  </div> <br> <br> <br> <br>
  <div class="login-button">
    <ion-button expand="block" class="login-button" [routerLink]="['/login']">Login</ion-button>
    <ion-button expand="block" class="register-button" [routerLink]="['/register']">Register</ion-button>
  </div>
</ion-content>
