ion-header {
    --background: #fff;
    --color: #000;
}

.search ion-searchbar {
    --border-radius: 20px;
    color: #ACACAC;
  }

.btn {
    text-align: right;
    margin-top: -8vh;
    margin-right: 12px;
    justify-content: center;
}

.genre-select {
    width: 20vh;
    margin-left: 12px;
    margin-bottom: 10px;
}

.selected-genre {
    margin-left: 12px;
    font-size: 14px;
    color: #666;
}

.custom-card {
    margin: 5px;
    text-align: center;

    img {
        width: 100%;
        height: auto;
    }

    ion-card-header {
        padding-bottom: 0;

        ion-card-title {
            font-size: 16px;
        }

        ion-card-subtitle {
            margin-top: -1px;
            margin-top: 2px;
            font-size: 14px;
            color: #888;
        }
    }

    ion-card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;

        ion-icon {
            font-size: 24px;
            cursor: pointer;
        }
    }
}