<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Search Bar -->
  <div class="search">
    <ion-searchbar show-cancel-button="focus" placeholder="Cari" (ionInput)="filterBooks($event)"></ion-searchbar>
  </div>

  <!-- Category Select -->
  <div class="btn">
    <ion-button shape="round" (click)="showFavorites()" style="--background: rgb(248, 35, 35);">
      Favorit
    </ion-button>
  </div>
  <ion-select class="category-select" #categorySelect interface="action-sheet" style="margin-left: 12px;"
    placeholder="Pilih Kategori" (ionChange)="categorySelected($event)" (ionCancel)="categoryCanceled($event)">
    <ion-select-option value="novel">Novel</ion-select-option>
    <ion-select-option value="komik">Komik</ion-select-option>
  </ion-select>

  <!-- Selected Category Display -->
  <div class="selected-category" *ngIf="selectedCategory" style="margin-left: 12px;">
    <p>Kategori yang dipilih: {{ selectedCategory }}</p>
  </div>

  <!-- Book Cards -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let book of filteredBooks">
        <ion-card class="custom-card" [routerLink]="['/book', book.id]">
          <ion-card-content>
            <ion-img [src]="book.cover_link" alt="Book Cover"></ion-img>
          </ion-card-content>
          <ion-card-header>
            <ion-card-title>{{ book.title }}</ion-card-title>
            <ion-card-subtitle>Author: {{ book.author }}</ion-card-subtitle>
            <p><strong>Stok Buku:</strong> {{ book.stock?.jmlh_tersedia }}</p>
            <p><strong>Category:</strong> {{ book.category?.name }}</p>
          </ion-card-header>
        </ion-card>
        <!-- Update the ion-icon with name binding -->
        <ion-icon [name]="book.isLiked ? 'heart' : 'heart-outline'" [color]="book.isLiked ? 'danger' : ''" (click)="toggleLike(book)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
