<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="profile">
    <img src="../../assets/icon/profile.jpg" alt="Profile Picture" class="profile-img">
    <div class="profile-info">
      <h2>Budi Setiawan</h2>
      <p>BudiSetiawan&#64;gmail.com</p>
    </div>
  </div>
  <ion-item [routerLink]="['/my-profile']" button class="account-item">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>My Profile</ion-label>
  </ion-item>
  <div class="logout-button">
    <ion-button color="danger" id="present-alert">Logout</ion-button>
    <ion-alert trigger="present-alert" class="custom-alert" header="Apakah kamu yakin?" [buttons]="alertButtons"></ion-alert>

  </div>
</ion-content>