ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.profile-info p {
    font-size: 14px;
    color: #666;
}

.account-item {
    margin-top: 20px;
}

.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 15px;
    /* Anda dapat mengubah nilai ini sesuai keinginan */
}

.logout-button ion-button {
    width: 60%;
    /* Agar tombol menyesuaikan dengan lebar div */
    --border-radius: 15px;
    /* Menyesuaikan border radius tombol dengan div */
}

.incomplete-profile-notice {
    background-color: #ffeb3b; /* Warna latar kuning cerah */
    color: #333; /* Warna teks gelap */
    padding: 20px;
    margin: 20px;
    border-left: 8px solid #ff9800; /* Garis di sebelah kiri dengan warna lebih gelap */
    border-radius: 10px; /* Sudut yang lebih bulat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    animation: fadeIn 1s ease-in-out; /* Animasi masuk */
    position: relative;
  
    p {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.5;
    }
  
    a {
      color: #007bff;
      text-decoration: none;
      font-weight: bold;
      margin-left: 5px;
      transition: color 0.3s;
    }
  
    a:hover {
      color: #0056b3;
      text-decoration: underline;
    }
  
    ion-icon {
      font-size: 2rem;
      margin-right: 12px;
      color: #ff9800;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }