<ion-content>
  <div class="profile">
    <img src="../../assets/icon/profile.jpg" alt="Profile Picture" class="profile-img">
    <div class="profile-info">
      <h2>Budi Setiawan</h2>
      <p>BudiSetiawan&#64;gmail.com</p>
    </div>
  </div>
  <ion-item [routerLink]="['/my-profile']" button class="account-item">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>My Profile</ion-label>
  </ion-item>
  <div class="logout-button">
    <ion-button color="danger" id="open-loading" (click)="logout()">Logout</ion-button>
    <ion-loading trigger="open-loading" message="Loading..." [duration]="3000" spinner="circles"></ion-loading>
  </div>
</ion-content>