<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/data-buku"></ion-back-button>
    </ion-buttons>
    <ion-title>Favorit</ion-title>
  </ion-toolbar>

  <div class="search">
    <ion-searchbar show-cancel-button="focus" placeholder="Cari buku" (ionInput)="filterFavorites($event)"></ion-searchbar>
  </div>

  <ion-row>
    <ion-col size="12">
      <ion-card *ngIf="filteredFavoriteBooks.length > 0">
        <ion-card-header>
          <ion-card-title>Buku Favorit</ion-card-title>
          <ion-card-subtitle>Koleksi buku favorit Anda</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let book of filteredFavoriteBooks">
              <ion-thumbnail slot="start" [routerLink]="['/book', book.id]">
                <img [src]="book.cover_link" alt="Book Cover" class="img"/>
              </ion-thumbnail>
              <ion-label [routerLink]="['/book', book.id]">
                <h2>{{ book.title }}</h2>
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Stock:</strong> {{ book.stock?.jmlh_tersedia }}</p>
                <p><strong>Category:</strong> {{ book.category?.name }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <div *ngIf="filteredFavoriteBooks.length === 0" class="no-favorites">
        <img src="../../assets/icon/like.png" alt="No Favorites" />
        <p>Tidak ada buku dalam daftar favorit Anda</p>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
