<ion-content class="page-favorit">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/data-buku"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <title>Favorit</title>
  <div class="search">
    <ion-searchbar show-cancel-button="focus" placeholder="Search"></ion-searchbar>
  </div>

  <ion-list>
    <ion-item *ngFor="let book of favoriteBooks" [routerLink]="['/book', book.id]" >
      <ion-thumbnail slot="start">
        <ion-img [src]="book.cover_link" alt="Book Cover" class="img"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.title }}</h2>
        <p>Author: {{ book.author }}</p>
        <p><strong>Stok Buku:</strong> {{ book.stock?.jmlh_tersedia }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
