<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="header-container">
    <h2>Hello, {{ firstName }}!</h2>
  </div>

  <div class="header-text">
    <h2 style="color: #7678bd;">let's look at the</h2>
    <h2 style="color: #7678bd;">books here</h2>
  </div>
  <div class="line"></div>
  <img src="../../assets/icon/library.png" class="img-header">

  <h3>Announcement</h3>
  <div class="schedule-container1">
    <ion-card>
      <ion-card-content>
        <div class="schedule-content">
          <div class="text-content">
            <ion-card-title>Jumlah Peminjaman</ion-card-title>
            <ion-card-subtitle style="color: rgb(84, 72, 255);">{{ totalPeminjaman }} buku</ion-card-subtitle>
          </div>
        </div>
        <div class="schedule-content" style="margin-top: 15px;">
          <div class="text-content">
            <ion-card-title>Denda</ion-card-title>
            <ion-card-subtitle style="color: rgb(255, 72, 72);">1</ion-card-subtitle>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="schedule-container1">
    <ion-card>
      <ion-card-content>
        <div class="schedule-content">
          <div class="text-content">
            <ion-card-title>Jika ingin meminjam buku,</ion-card-title>
            <ion-card-subtitle>langsung saja kelokasinya</ion-card-subtitle>
          </div>
          <img src="../../assets/icon/location.png" alt="Welcome">
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <h3>Shortcut</h3>
  <div class="schedule-container">
    <ion-card [routerLink]="['/favorit']" class="card-header">
      <ion-card-content>
        <div class="schedule-content">
          <div class="text-content-3">
            <ion-card-title>Favorit</ion-card-title>
            <ion-card-subtitle class="text-1">Buku favoritmu</ion-card-subtitle>
          </div>
          <img src="../../assets/icon/favorit.png" alt="Welcome">
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="schedule-container" style="margin-top: 15px;">
    <ion-card [routerLink]="['/qr-code']" class="card-header1">
      <ion-card-content>
        <div class="schedule-content">
          <div class="text-content-3">
            <ion-card-title>QR - Code</ion-card-title>
            <ion-card-subtitle class="text-1">Code QR saya</ion-card-subtitle>
          </div>
          <img src="../../assets/icon/QR-code.png" alt="Welcome">
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <h3>Calendar</h3>
  <div class="date">
    <ion-datetime locale="en-GB-u-hc-h12"></ion-datetime>
  </div>
</ion-content>
