.header-container h2 {
  font-size: 20px;
  margin-left: 15px;
  font-weight: 200;
}

.header-text h2 {
  line-height: 20px;
  font-size: 27px;
  margin-left: 15px;
  font-weight: 200;
}

.img-header {
  float: right;
  height: auto;
  width: 18vh;
  margin-top: -18vh;
}

.schedule-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-content {
  flex: 1;
}

.text-content ion-card-title {
  font-style: italic;
  font-size: 18px;
}

.text-content ion-card-subtitle {
  font-style: italic;
  font-size: 18px;
}

.schedule-content img {
  width: 70px;
  height: auto;
  margin-top: -1.5vh;
}

.card {
  height: 23vh;
}

.schedule-content .img {
  width: 16vh;
  margin-top: 10px;
}

.text-content-3 {
  flex: 1;
  margin-top: -2vh;
}

.text-content-3 ion-card-title {
  font-size: 18px;
  color: white;
}

.text-content-3 ion-card-subtitle {
  font-size: 18px;
  color: white;
}

.text-content-2 ion-button {
  height: 15px;
  width: 17vh;
  --border-radius: 20px;
  margin-left: 12px;
}

.text-content-3 .text-1 {
  font-size: 15px;
  color: #DCDCDC;
}

h3 {
  margin-left: 12px;
  font-weight: 500;
}

.card-header {
  height: 9vh;
  --background: #FC5757;
}

.card-header1 {
  height: 9vh;
  --background: #3994FF;
}
