<ion-content>
  <div class="header-container">
    <h2>Hi Member!</h2>
    <p>Good Morning</p>
  </div>

  <div class="schedule-container">
    <ion-card>
      <ion-card-content>
        <div class="schedule-content">
          <div class="text-content">
            <ion-card-title>Selamat Datang!</ion-card-title>
            <ion-card-subtitle>Please see our book</ion-card-subtitle>
          </div>
          <img src="../../assets/icon/library2.png" alt="Welcome">
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  

  <div class="projects-container">
    <h3>Anda bisa melihat</h3>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="book-layout">
            <div class="book-page">
              <ion-card [routerLink]="['/tabs/history']">
                <ion-card-header>
                  <ion-card-title>Peminjaman</ion-card-title>
                  <ion-card-subtitle>Riwayat</ion-card-subtitle>
                  <ion-card-subtitle>May 30, 2022</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <div class="progress-bar">
                    <div class="progress" style="width: 80%;"></div>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
            <div class="book-page">
              <ion-card [routerLink]="['/tabs/history']">
                <ion-card-header>
                  <ion-card-title>Denda</ion-card-title>
                  <ion-card-subtitle>Riwayat</ion-card-subtitle>
                  <ion-card-subtitle>May 30, 2022</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <div class="progress-bar">
                    <div class="progress" style="width: 50%;"></div>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="book-layout">
            <div class="book-page">
              <ion-card [routerLink]="['/tabs/profile']">
                <ion-card-header>
                  <ion-card-title>Profil</ion-card-title>
                  <ion-card-subtitle>Akun</ion-card-subtitle>
                  <ion-card-subtitle>May 30, 2022</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <div class="progress-bar">
                    <div class="progress" style="width: 60%;"></div>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
            <div class="book-page">
              <ion-card [routerLink]="['/tabs/data-buku']">
                <ion-card-header>
                  <ion-card-title>Detail Buku</ion-card-title>
                  <ion-card-subtitle>Buku</ion-card-subtitle>
                  <ion-card-subtitle>May 30, 2022</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <div class="progress-bar">
                    <div class="progress" style="width: 30%;"></div>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-datetime locale="en-GB-u-hc-h12"></ion-datetime>
</ion-content>