<ion-content class="ion-padding">
  
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="header-container">
    <h2>Hi, Member!</h2>
    <p>may you always be healthy</p>
    <img src="../../assets/icon/library.png" alt="">
  </div>

  <div class="schedule-container">
    <ion-card>
      <ion-card-content>
        <div class="schedule-content">
          <div class="text-content">
            <ion-card-title>Selamat Datang!</ion-card-title>
            <ion-card-subtitle>Please see our book</ion-card-subtitle>
          </div>
          <img src="../../assets/icon/library2.png" alt="Welcome">
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  

  <div class="projects-container">
    <h3>For you</h3>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="book-layout">
            <div class="book-page">
              <ion-card [routerLink]="['/favorit']">
                <ion-card-header>
                  <ion-card-title>Favorit</ion-card-title>
                  <ion-card-subtitle>Buku</ion-card-subtitle>
                  <ion-card-subtitle>May 30, 2022</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <div class="progress-bar">
                    <div class="progress" style="width: 80%;"></div>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
            <div class="book-page">
              <ion-card [routerLink]="['/qr-code']">
                <ion-card-header>
                  <ion-card-title>QR-Code</ion-card-title>
                  <ion-card-subtitle>Myprofile</ion-card-subtitle>
                  <ion-card-subtitle>May 30, 2022</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <div class="progress-bar">
                    <div class="progress" style="width: 50%;"></div>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="book-layout">
            <div class="book-page">
              <ion-card [routerLink]="['/tabs/data-buku']">
                <ion-card-header>
                  <ion-card-title>Buku</ion-card-title>
                  <ion-card-subtitle>Koleksi</ion-card-subtitle>
                  <ion-card-subtitle>May 30, 2022</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <div class="progress-bar">
                    <div class="progress" style="width: 60%;"></div>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
            <div class="book-page">
              <ion-card [routerLink]="['/tabs/history']">
                <ion-card-header>
                  <ion-card-title>Riwayat</ion-card-title>
                  <ion-card-subtitle>data</ion-card-subtitle>
                  <ion-card-subtitle>May 30, 2022</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <div class="progress-bar">
                    <div class="progress" style="width: 30%;"></div>
                  </div>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="date">
    <ion-datetime locale="en-GB-u-hc-h12"></ion-datetime>
  </div>
</ion-content>