<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>My QR Code</ion-title>
  </ion-toolbar>
  <div class="profile">
    <img src="../../assets/icon/profile.jpg" alt="Profile Picture" class="profile-pic">
    <h1>Budi Setiawan</h1>
    <p>BudiSetiawan&#64;gmail.com</p>
  </div> <br>
  <div class="container">
    <div class="qr-code">
      <img src="../../assets/icon/qr.png" alt="QR Code">
    </div>
  </div>
</ion-content>
