<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title style="margin-left: 8vh;">My QR Code</ion-title>
  </ion-toolbar>
  <div class="profile">
    <img [src]="profileImageUrl || 'https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAxL3JtNjA5LXNvbGlkaWNvbi13LTAwMi1wLnBuZw.png'" alt="Profile Picture" class="profile-pic">
    <h1>{{ firstName }} {{ lastName }}</h1>
    <p>{{ email }}</p>
  </div>
  <br>
  <div class="container">
    <div class="qr-code">
      <p>Jangan lupa untuk memperbarui QR code jika ingin melakukan scan.</p>
      <img [src]="qrCodeUrl" alt="QR Code"> <!-- Use qrCodeUrl to display QR Code -->
      <ion-button expand="block" (click)="onUpdateButtonClick()">Update QR Code</ion-button>
      <p>QR code will update in: {{ countdown }} seconds</p>
    </div>
  </div>
</ion-content>
