ion-content {
    --background: linear-gradient(to top, #3B7299, #63BDFF 50%, #ffffff 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.container {
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    margin: auto;
}

ion-title {
    font-weight: bold;
}

.profile {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    position: relative; /* Ensure the profile container is relative for the absolute positioning of the profile-pic */
}

.profile-pic {
    color: black;
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #2E3192;
    position: absolute;
    top: -50px; /* Adjusts the position of the image */
}

.profile-info {
    margin-top: 60px; /* Adjust this value to provide space for the profile picture */
    text-align: center;
}

h1 {
    font-size: 18px;
    color: black;
    margin: 0; /* Remove default margin */
}

p {
    color: grey;
    font-size: 14px;
    margin: 0; /* Remove default margin */
}

.qr-code {
    margin-top: 5px;
}

.qr-code img {
    width: 50vh;
    height: auto;
}