<ion-content [fullscreen]="true">
  <div class="img">
    <ion-img src="../../assets/icon/logo.png"></ion-img>
  </div>
  <h1>Register</h1>
  <ion-card>
    <div class="box">
      <ion-input [(ngModel)]="firstName" label="Nama depan" label-placement="floating" fill="outline" type="text"></ion-input> 
      <ion-input [(ngModel)]="lastName" label="Nama belakang" label-placement="floating" fill="outline" type="text"></ion-input> 
      <ion-input [(ngModel)]="email" label="Email" label-placement="floating" fill="outline" type="email"></ion-input> 
      <ion-input [(ngModel)]="password" placeholder="Password" fill="outline" type="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      <ion-input [(ngModel)]="password_confirmation" placeholder="Konfirmasi Password" fill="outline" type="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      <ion-button fill="clear" class="text" (click)="register()">Register</ion-button>
      <div class="text">
        <p>Sudah punya akun? <a [routerLink]="['/login']">Masuk</a></p> 
      </div>
    </div>
  </ion-card>
</ion-content>
