<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <h1>Register</h1>
    <ion-input [(ngModel)]="firstName" fill="outline" placeholder="Nama Depan" type="text"></ion-input> <br>
    <ion-input [(ngModel)]="lastName" fill="outline" placeholder="Nama Belakang" type="text"></ion-input> <br>
    <ion-input [(ngModel)]="email" fill="outline" placeholder="Email" type="email"></ion-input> <br>
    <ion-input [(ngModel)]="password" placeholder="Password" fill="outline" type="password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input> <br>
    <ion-input [(ngModel)]="password_confirmation" placeholder="Konfirmasi Password" fill="outline" type="password">
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input> <br>
    <ion-button expand="block" (click)="register()">Register</ion-button>
    <p>Sudah punya akun? <a [routerLink]="['/login']">Masuk</a></p>
  </div>
</ion-content>
