.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    h1 {
        font-size: 5vh;
        font-weight: 500;
    }

    ion-input {
        --border-radius: 20px;
        --border-color: #2E3192;
    }

    a {
        text-decoration: none;
    }

    p {
        text-decoration: none;
    }


}

ion-button {
    width: 100%;
    height: auto;
    color: white;
    --border-radius: 20px;
    height: 50px;
}

